.experience{
    height: 10vh;
    width: 80vw;
    margin: 5vh 10vw;
    text-align: center;
}
.More{
    height: 10vh;
    width: 80vw;
    margin: 5vh 10vw;
    text-align: center;
}
.carousel{
    height: 60vh;
    width: 60vw;
    margin: 5vh 20vw;
    text-align: center;
    background-color: black;
    color: aliceblue;
}