.faculty {
    margin-top: 10vh;
}

.information {
    height: 30vh;
    margin: 2vh 5vw;
    width: 70vw;
    display: grid;
    grid-template-columns: 30% 70%;
    padding: auto auto;
    background: #00cbd959;
    transition: 0.8s ease;
}

.left {
    border: 2px solid red;
    border-radius: 100%;
    width: 25vh;
    height: 25vh;
    position: relative;
    right: 0;
    background: url();
    margin-top: 3vh;
    margin-left: 10vh;
}

.right b {
    font-size: 24px;
    font-family: "Advent Pro", sans-serif;
    margin-top: 2vh;
}

.right {
    margin-top: 3vh;
}

.i1:hover,
.i2:hover,
.i3:hover,
.i4:hover {
    background: #3e414180;
    color: white;
    cursor: pointer;
}