.banner {
    height: 40vh;
    width: 70vw;
    margin: 10vh 5vw;
    display: grid;
    grid-template-columns: auto auto;
}

.right {
    text-align: center;
    padding: 10vh;
    font-family:'Times New Roman', Times, serif;
}

.Imgslide {
    height: 70vh;
    width: 70vw;
    margin: 15vh auto;
    display: grid;
    grid-template-columns: auto auto auto;
}

.Interactive {
    text-align: center;
    font-family: "Advent Pro", sans-serif;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    width: 70vw;
    margin: auto;
}

.pic {
    height: 30vh;
    width: 20vw;
    transition: all 0.4s ease-in-out;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.pic:hover {
    margin: 10px;
    z-index: 1;
    transform: scale(1.5);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    border: 1px solid black;
    backdrop-filter: blur(5px);
}

.pic1 {
    background-image: url("../Images/doug-linstedt-jEEYZsaxbH4-unsplash.jpg");
}

.pic2 {
    background-image: url("https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.pic3 {
    background-image: url("https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.pic4 {
    background-image: url("https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.pic5 {
    background-image: url("https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}

.pic6 {
    background-image: url("https://images.pexels.com/photos/1386604/pexels-photo-1386604.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1");
}